modules=sd-mod,usb-storage efi=nochunk noiotrap powersave=off io_delay=none nospec_store_bypass_disable nospectre_v2 nospectre_v1 pti=off idle=nomwait msr.allow_writes=on iomem=relaxed mitigations=off nowatchdog net.ifnames=0 sd_vconsole noibrs noibpb nopti l1tf=off no_stf_barrier mds=off tsx=on tsx_async_abort=off amdgpu.vm_fragment_size=9 amdgpu.hw_i2c=1 noatime elevator=deadline nosmt
